$breadcrumb-divider: quote(">");

* {
    margin: 0;
    padding: 0;
    font-family: '微軟正黑體';
}


.info_info {
    display: flex;
}

.row {
    margin-bottom: 1rem;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: $breadcrumb-divider;
}


.table {
    tr {
        th {
            &:nth-child(1) {
                width: 400px;
            }

            img {
                max-width: 300px;
                height: auto;
            }
        }
    }

}

.map {
    width: 100%;

    iframe {
        width: 100%;
        height: auto;
        min-height: 300px;
    }
}