* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: rgb(241, 232, 232);
}

//nav
.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 99;

	.navbar-brand {
		font-size: 40px;
		color: orangered;
	}

	a {
		padding: 0;
	}

	.navbar-collapse {
		flex-grow: unset;
	}

	.logo {
		img {
			width: 60px;
		}
	}
}

.banner {
	width: 100%;
	height: 400px;
	background-image: url('../img/pic_A12-00353_5.jpg');
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	margin: 10px auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;


	h1 {
		color: rgb(0, 0, 0);
		font-size: 60px;
		font-weight: 900;
		text-shadow: rgb(255, 193, 130) 4px 6px 6px;
		z-index: 4;
	}

	.mask {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		background-color: rgba(255, 255, 255, 0.5);
	}
}


.searching_menu {
	background-color: inherit;
	opacity: 1;
	pointer-events: all;


	.banner_menu {
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 0 3px 0 rgba(0, 0, 0, 0.08);
		width: 70%;
		min-height: 100px;
		background-color: white;
		margin-left: auto;
		margin-right: auto;
		// border: 1px solid lightgray;
		border-radius: 15px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		top: -40px;

		ul {
			width: 100%;
			justify-content: space-around;
			margin: 0;

			li {
				list-style: none;

				&:hover {
					a {
						// background-color: orange;
						color: #000;
						box-shadow: inset 1px 2px 10px 3px #FFFFFF, 1px 3px 11px 3px #ADADAD;
					}
				}

				a {
					border-radius: 20px;
					border: 1px solid gray;
				}
			}
		}
	}
}

.searching_menu.fixed {
	opacity: 0;
	pointer-events: none;
}

.second_nav {
	text-align: center;
	background-color: #e6e6e6;

	ul {
		justify-content: flex-start;
		list-style: none;
		margin: 0;

		li {
			padding: 10px;

			&:hover {
				background-color: black;

				a {
					color: white;

				}
			}

			a {
				text-decoration: none;
				color: black;
				padding: 10px;
			}
		}
	}

	visibility: hidden;
	opacity: 0;
}

.second_nav.fixed {
	visibility: visible;
	opacity: 1;
	position: fixed;
	top: 80px;
	width: 100%;
	z-index: 99;
	transition: .5s;
}

.all {
	width: 100%;
	margin: 0;

	/* 現在位置 */
	.map_list {
		width: 100%;
		height: 50px;
		background-color: inherit;

		nav {
			.breadcrumb {
				margin-bottom: 0;
				background-color: unset;
			}
		}
	}

	width: 1100px;
	// height: 100%;
	background-color: inherit;
	margin: auto;

	/* 雲林魅力指南 */
	.introduction_title {
		width: 100%;
		height: 50px;
		background-color: inherit;
		font-size: 2em;
	}

	.introduction_box {
		width: 100%;
		height: 150px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0;
		margin-bottom: 30px;

		.travel_introduction {
			width: 100%;
			height: 150px;
			background-color: inherit;
			padding: 5px;
			border-bottom: 1px solid gray;
			position: relative;

			p {
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 5;
				-webkit-box-orient: vertical;
				padding: 5px 10px;
			}

			a {
				text-decoration: none;
				color: black;
				position: absolute;
				bottom: -17px;
				left: calc(50% - 10px);
				margin: 0;
				padding: 5px;
			}
		}

		/* 天氣卡片 */
		.weather_card {
			width: 360px;
			height: 150px;
			background-color: white;
			padding: 0px;
			border: 1px solid rgba(211, 211, 211, 0.445);

			.today {
				width: 100%;
				padding: 10px;
				display: flex;
				flex-direction: column-reverse;

				.detail {
					display: flex;
					justify-content: space-around;
					align-items: center;

					img {
						width: 60px;
					}
				}

			}

			button {
				width: 100%;
				background-color: inherit;
				// border: 1px solid black;
			}



			.future {
				width: 100%;

				.drop-item {
					display: flex;
					white-space: nowrap;
					padding: 5px;
					margin: 5px;

					img {
						width: 20px;
					}
				}

				.col {
					margin: 0;
				}
			}
		}
	}

	/* 超人氣雲林活動 */
	.activity_title {
		font-size: 2em;
		background-color: inherir;
		margin-bottom: 15px;
	}

	.act_cards {
		width: 100%;
		height: 300px;
		margin-bottom: 30px;
	}

	/* 預訂雲林熱門特色活動 */
	.booking_title {
		font-size: 2em;
		margin-bottom: 15px;
	}

	.booking_travel {
		width: 100%;
		margin-bottom: 30px;

		.photo_group {
			width: 100%;
			display: flex;


			.photo_view {
				width: calc(100% / 3);
				height: 200px;
			}

			#photo_v1 {
				.content {
					width: 100%;
					height: 100%;
					position: relative;


					img {
						width: 100%;
						height: 100%;

					}

					.view_text {
						position: absolute;
						bottom: 0;
						z-index: 5;
						color: #fff;
						text-shadow: rgb(0, 0, 0) 4px 3px 5px;
						width: 100%;
						background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 71%);
						background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 71%);
						background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 71%);
						filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=0);


						h2 {
							font-size: 24px;
						}

						a {
							text-decoration: none;
							color: #fff;
							text-shadow: rgb(0, 0, 0) 4px 3px 5px;
						}
					}
				}
			}

			#photo_v1:hover {
				width: 50%;
				transition: 1s;
			}

			#photo_v2 {
				.content {
					width: 100%;
					height: 100%;
					position: relative;

					img {
						width: 100%;
						height: 100%;
					}

					.view_text {
						position: absolute;
						bottom: 0;
						z-index: 5;
						color: #fff;
						text-shadow: rgb(0, 0, 0) 4px 3px 5px;
						width: 100%;
						background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 71%);
						background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 71%);
						background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 71%);
						filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=0);


						h2 {
							font-size: 24px;
						}

						a {
							text-decoration: none;
							color: #fff;
							text-shadow: rgb(0, 0, 0) 4px 3px 5px;
						}
					}
				}
			}

			#photo_v2:hover {
				width: 50%;
				transition: 1s;
			}

			#photo_v3 {
				.content {
					width: 100%;
					height: 100%;
					position: relative;

					img {
						width: 100%;
						height: 100%;
					}

					.view_text {
						position: absolute;
						bottom: 0;
						z-index: 5;
						color: #fff;
						text-shadow: rgb(0, 0, 0) 4px 3px 5px;
						width: 100%;
						background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 71%);
						background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 71%);
						background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 71%);
						filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=0);


						h2 {
							font-size: 24px;

						}

						a {
							text-decoration: none;
							color: #fff;
							text-shadow: rgb(0, 0, 0) 4px 3px 5px;

						}
					}
				}
			}

			#photo_v3:hover {
				width: 50%;
				transition: 1s;
			}
		}

		/* 預訂雲林熱門特色活動卡片 */
		.photocard_group {
			width: 100%;
			height: 250px;
			padding: 0;
			margin: 40px auto;
			display: flex;

			.card {
				width: 25%;
				margin-right: 10px;
				padding: 0;

			}

			#card_1,
			#card_2,
			#card_3 {
				margin-right: 40px;
			}

		}

		/* 行前規劃&準備 */
		.discover_title {
			width: 100%;
			height: 70px;
			font-size: 2em;
			line-height: 71px;

		}

		.discover_box {
			margin: 0;
			padding: 0;
			cursor: pointer;

			.discover {
				padding: 0;
				margin: 0 auto;

				.card-body {
					display: flex;
					justify-content: space-around;

				}
			}

			.discover:nth-child(1) {
				.card {
					background-color: rgba(253, 161, 161, 0.5);
				}

			}

			.discover:nth-child(2) {
				.card {
					background-color: rgba(142, 255, 89, 0.5);
				}

			}

			.discover:nth-child(3) {
				.card {
					background-color: rgba(121, 164, 255, 0.5);
				}

			}
		}
	}
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e6e6e6;
	padding: 15px;

	.logo {
		align-items: center;
		margin-right: 10px;

		img {
			width: 40px;
		}
	}

	.content {
		margin-right: 15px;

		p {
			font-size: 16px;
		}
	}

	.social_media {
		a {
			img {
				width: 30px;
			}
		}
	}
}